.root {
  justify-content: center;
  margin: 0 auto;
}

.image {
  width: 200px;
  height: 200px;
}

.product {
  border: 2px solid #d1d0d0;
  margin: 10px 10px;
}
.productContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.totalsWrapper {
  height: 100%;
}

.totals {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.button {
  background-color: #2b2b74;
  display: block;
  padding: 10px 5px;
  font-size: 24px;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  margin-bottom: 10px;
  border: 0;
}

.closeStore {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;

  svg {
    fill: #2b2b74;
  }
}

.deleteItem {
  position: relative;
  top: 0px;
  right: 0;
  cursor: pointer;

  svg {
    fill: #2b2b74;
  }
}
