.footer {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.footerLink {
  text-decoration: none;
  color: #e1dcdc;
  font-weight: 900;
  margin-right: 33px;
  transition: 0.2s;
  &:hover {
    color: #000;
  }
}

.relativeContainer {
  position: relative;
}

.menuContainer {
  min-height: 180px;
  display: flex;
  justify-content: space-around;
  min-width: 140px;
  background-color: #fff;
  flex-direction: column;
  align-content: center;
  & div {
    text-align: center;
  }
}

.storeMenuLink {
  font-weight: bold;
  color: #e1dcdc;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  &:hover {
    color: #000;
  }
}
