.root {
  min-height: 100vh;
  padding: 0px 0px 50px;
  position: relative;
}

.logo {
  min-height: 50px;
  min-width: 50px;
}

.backdrop {
  background-color: #fff;
  position: fixed;
  top: 25px;
  left: 25px;
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
  z-index: 1000;
}

.backdropActive {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
}

.backdropFullScreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.disabledEvents {
  pointer-events: none;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
}

.footer {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.footerLink {
  text-decoration: none;
  color: #e1dcdc;
  font-weight: 900;
  margin-right: 33px;
  transition: 0.2s;

  &:hover {
    color: #000;
  }
}

.relativeContainer {
  position: relative;
}

.menuContainer {
  min-height: 180px;
  position: absolute;
  top: -200px;
  right: -20px;
  display: flex;
  justify-content: space-around;
  min-width: 140px;
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  align-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3%);
  & div {
    text-align: center;
  }
}

.storeMenuLink {
  font-weight: bold;
  color: #e1dcdc;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  &:hover {
    color: #000;
  }
}
