.root {
  min-height: 100vh;
  padding: 0px 0px 50px;
  position: relative;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.overlayEnabled {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  width: 100%;
}
.logo {
  min-height: 50px;
  min-width: 50px;
}

.disabledEvents {
  pointer-events: none;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
}
